.dribble-text{
    float: right;
    margin-top: 40px;
}

.dribble-text-1{
    margin-bottom: 15px;
    font-weight: 600;
    margin-top: 40px;
}

.dribble-text-2{
    margin-bottom: 65px;
    font-weight: 300;
}

.dribble-btnDribble{
    text-decoration: none;
    background-color: transparent;    
    padding: 12px 20px 12px 12px;    
    border-style: solid;
    border-width: 2px;
    border-color: #ff56aa;
    color: #ff56aa;
    font-size: 16px;
}

.dribble-btn-ico{
    margin-left: 20px;
}