/*======== RESET ========*/
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.container {
  max-width: 840px;
  margin: auto; }

.buybeer {
  background-image: url(../img/bg-donate.png);
  padding: 80px;
  text-align: center; }

.buybeer-text {
  font-size: 35px;
  color: white;
  font-weight: 600;
  margin-bottom: 40px; }

.buybeer-btn {
  text-decoration: none;
  background-color: transparent;
  padding: 12px 20px 12px 12px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  font-size: 16px; }

.buybeer-btn-ico {
  margin-left: 20px; }

.dribble-text {
  float: right;
  margin-top: 40px; }

.dribble-text-1 {
  margin-bottom: 15px;
  font-weight: 600;
  margin-top: 40px; }

.dribble-text-2 {
  margin-bottom: 65px;
  font-weight: 300; }

.dribble-btnDribble {
  text-decoration: none;
  background-color: transparent;
  padding: 12px 20px 12px 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff56aa;
  color: #ff56aa;
  font-size: 16px; }

.dribble-btn-ico {
  margin-left: 20px; }

@media screen and (max-width: 480px) {
  .dribble-text {
    text-align: center;
    margin-bottom: 30px; }

  .dribble-text-2 {
    margin-bottom: 30px; } }
.footer {
  text-align: center;
  padding: 30px; }

.header-hamburger {
  float: right; }

.header-hamburger:hover {
  cursor: pointer; }

.header {
  background-image: url(../img/section-header/bg.png); }

.header-logo-sm {
  display: none; }

@media screen and (max-width: 1024px) {
  .header-logo-sm {
    display: initial; }

  .header-logo {
    display: none; } }
.hello {
  background-color: #F2F2F2; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.hello-tablet {
  float: right; }

.clearfix:after {
  clear: both; }

.hello .hello-tablet {
  margin-top: 150px; }

.hello .hello-container-texto {
  width: 60%;
  margin-top: 150px;
  margin-bottom: 80px; }

.hello-btnHello {
  background-color: transparent;
  padding: 12px 20px 12px 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #54ce8f;
  color: #54ce8f;
  font-size: 16px; }

.hello-btnHello:hover {
  text-decoration: none;
  cursor: pointer;
  color: #54ce8f; }

.hello-btnHello-ico {
  margin-left: 20px; }

.hello-texto-border {
  margin-top: 20px;
  border-left: 4px solid #099fda;
  padding-left: 10px; }

@media screen and (max-width: 460px) {
  .hello .hello-tablet {
    margin-top: 50px;
    margin-bottom: 50px; }

  .hello-container-texto {
    margin-left: 25%;
    text-align: center; }

  .hello-btnHello {
    float: left;
    margin-left: 25%;
    margin-bottom: 20px; }

  .hello .hello-container-texto {
    margin-bottom: 20px; } }
.menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.menu ul {
  width: 100%;
  float: left;
  text-align: center; }

.menu li {
  padding: 1.5%; }

.menu li a {
  font-size: 2em;
  color: #fff;
  padding: 1.5% 3%; }

.menu li a:hover {
  color: #099fda;
  transition: 0.2s; }

.btn-close {
  font-size: 1.5em;
  color: #fff;
  float: right;
  cursor: pointer;
  margin: 2% 3% 0 0; }

.btn-close:hover {
  color: #099fda;
  transition: 0.2s; }

@media screen and (min-width: 1280px) {
  .btn-menu {
    display: none; }

  .btn-close {
    display: none; }

  .menu {
    background-color: transparent;
    width: auto;
    height: auto;
    display: block;
    float: right;
    position: static; }

  .menu li {
    padding: 0;
    float: left; }

  .menu li a {
    border-right: 1px solid black;
    font-size: 1em;
    padding: 4px;
    line-height: 5em; }

  .menu li a:hover {
    color: black;
    transition: 0.2s; } }
.newsletter {
  padding: 150px;
  text-align: center;
  background-color: #F2F2F2; }

.newsletter-list {
  list-style: none;
  display: inline-block;
  margin: 18px; }

.newsletter-list a {
  display: block;
  padding: 12px;
  border: 2px;
  border-style: solid;
  border-color: #3339;
  border-radius: 50%; }

.newsletter-list a:hover {
  background-color: #61c0e7; }

.newsletter-list a:hover svg {
  fill: #fff; }

.newsletter-list svg {
  fill: #3339; }

.subscription {
  font-size: 30px;
  width: 100%;
  color: #3339;
  font-weight: bold;
  margin-top: 30px; }

.subscription-input {
  width: 40%;
  margin-left: 30px;
  height: 90px;
  border-radius: 10px;
  border-style: none;
  text-align: center;
  color: #3339;
  font-weight: bold;
  font-size: 24px; }

::-webkit-input-placeholder {
  text-align: center;
  color: #3339;
  font-weight: bold; }

.header-panel {
  text-align: right;
  color: white;
  font-size: 20px; }

.header-panel-btnDownload {
  background-color: transparent;
  padding: 12px 20px 12px 12px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  font-size: 16px; }

.header-panel-download-ico {
  margin-left: 20px; }

.header-panel-btnDownload:hover {
  text-decoration: none;
  cursor: pointer;
  color: white; }

.header-panel-text {
  margin-bottom: 45px;
  margin-top: 30px;
  letter-spacing: 2px; }

@media screen and (max-width: 320px) {
  .header-panel p {
    text-align: center; }

  .header-iphone {
    margin-top: 20px; } }
@media screen and (max-width: 380px) {
  .header-panel p {
    text-align: center; }

  .header-iphone {
    margin-top: 20px; } }

/*# sourceMappingURL=estilos.css.map */
