.hello{
    background-color: #F2F2F2;
}

.clearfix:before, .clearfix:after {
    content: "";    
    display: table;    
}

.hello-tablet{
    float:right;
}

.clearfix:after {
    clear: both;
}

.hello .hello-tablet{
    margin-top: 150px;
}

.hello .hello-container-texto{
    margin-top: 150px;
    margin-bottom: 80px;
}

.hello-btnHello{
    text-decoration: none;
    background-color: transparent;    
    padding: 12px 20px 12px 12px;    
    border-style: solid;
    border-width: 2px;
    border-color: #54ce8f;
    color: #54ce8f;
    font-size: 16px;
}

.hello-btnHello:hover{
    text-decoration: none;
    cursor: pointer;
    color: #54ce8f;
}

.hello-btnHello-ico{
    margin-left: 20px;
}

.hello-container-texto-linhaLateral{
    width: 30px;
    background: blue;
}