.menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li a:hover {
    color: #099fda;
    transition: 0.2s;
}

.btn-close {
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.btn-close:hover {
    color: #099fda;
    transition: 0.2s;
}

@media screen and (min-width: 1280px) {
    .btn-menu {
        display: none;
    }
    .btn-close {
        display: none;
    }
    .menu {
        background-color: rgba(0, 0, 0, 0);
        width: auto;
        height: auto;
        display: block;
        float: right;
        position: static;
    }
    .menu li {
        padding: 0;
        float: left;
    }
    .menu li a {
        font-size: 1em;
        padding: 7px;
        line-height: 5em;
    }
    .menu li a:hover {
        color: black;
        transition: 0.2s;
    }
}