.menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    ul {
        width: 100%;
        float: left;
        text-align: center;
    }
    
    li {
        padding: 1.5%;
    }
    
    li a {
        font-size: 2em;
        color: $color-white;
        padding: 1.5% 3%;
        
        &:hover{
            color: $color-hover;
            transition: 0.2s;
        }
    }
}

.btn-close {
    font-size: 1.5em;
    color: $color-white;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;

    &:hover {
        color: $color-hover;
        transition: 0.2s;
    }
}

@media screen and (min-width: 1280px) {
    .btn-menu {
        display: none;
    }
    .btn-close {
        display: none;
    }
    .menu {
        background-color: rgba(0, 0, 0, 0);
        width: auto;
        height: auto;
        display: block;
        float: right;
        position: static;

        li {
            padding: 0;
            float: left;
        }

        li a {
            border-right: 1px solid black;
            font-size: 1em;
            padding: 4px;
            line-height: 5em;

            &:hover {
                color: black;
                transition: 0.2s;
            }
        }
    }
}