.header-panel {
    text-align: right;
    color: $color-white;
    font-size: 20px;
}

.header-panel-btnDownload {
    @include button;
    border-color: $color-white;
    color: $color-white;

    &:hover {
        text-decoration: none;
        cursor: pointer;
        color:$color-white;
    }
}

.header-panel-download-ico {
    margin-left: 20px;
}

.header-panel-text {
    margin-bottom: 45px;
    margin-top: 30px;
    letter-spacing: 2px;
}

@media screen and (max-width: 320px) {
    .header-panel p{
        text-align: center;
    }
     .header-iphone {
         margin-top: 20px;
     }
}

@media screen and (max-width: 380px) {
    .header-panel p{
        text-align: center;
    }
     .header-iphone {
         margin-top: 20px;
     }
}